%table.table.table-striped
  %tbody
    - movies.each_with_index do |movie, i|
      %tr
        %td= i + 1
        %td
          %img.img-rounded{ style: 'max-height: 200px; max-width: 150px', src: movie[:img_link] }
        %td
          %h4
            = link_to movie[:title], movie_path(movie[:id])
          %h5 rating: #{@data["data"]["attributes"]["rating"]}
          %p
            %strong
              = link_to movie[:genre_name], movies_genre_path(movie[:genre])
            = ' (' + movie[:released].to_s + ')'
          %p= movie[:desc]
          %p= movie[:plot]
